<div class="wrapper" [perfectScrollbar]="config">
  <div class="d-flex flex-wrap">

    <div class="block-repo col-12 col-lg-4 animate__animated animate__fadeIn animation-{{i * 2}}"
      *ngFor="let repo of (repos | async); let i = index">
      <div class="block-repo-in d-flex">
        <div class="left d-flex flex-column justify-content-between">
          <div class="top">

            <div class="date">
              {{repo.created_at | date}}
            </div>
            <div class="description">
              {{repo.description}}
            </div>
          </div>
          <div class="bottom">
            <div class="title">{{repo.name }}</div>
          </div>
        </div>
        <div class="right d-flex flex-column justify-content-around align-content-center">
          <div class="top">
            <a [href]="repo.html_url" target="_black">
              <i class="uil uil-external-link-alt"></i>
            </a>
          </div>
          <div class="bottom">
            <span>{{ repo.stargazers_count }}</span> <i class="uil uil-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
